<launch>
  <!-- This is an exemple to launch a RH8D right hand with sensors and a RH6D Left hand on a different serial port -->
    <param name="prefix" value="R_" />
    <node pkg="seed_robotics" name="seed_hand_RH8DR" type="hand_handle_node.py" output="screen">
      <rosparam file="$(find seed_robotics)/config/RH8D_R.yaml" />
    </node>
    <node pkg="seed_robotics" name="seed_hand_RH6DL" type="hand_handle_node.py" output="screen">
      <rosparam file="$(find seed_robotics)/config/RH6D_L.yaml" />
    </node>
<!-- Uncomment this if you want to use the left hand sensors. WARN : Remember to edit ../config/sensors_left.yaml file
    <node pkg="sensor_pkg" name="seed_fts3_left" type="read_publish_sensor_node.py" output="screen">
    	<rosparam file="$(find sensor_pkg)/config/sensors_left.yaml" />
    </node>
-->
    <node pkg="sensor_pkg" name="seed_fts3_right" type="read_publish_sensor_node.py" output="screen">
    	<rosparam file="$(find sensor_pkg)/config/sensors_right.yaml" />
    </node>

</launch>
